<odoo>
    <menuitem
        id="planning_root"
        name="Contracting &amp; Planning"
        web_icon="ps_planning,static/description/icon.png"
        groups="group_user"
        action="action_ps_contracted_line"
        sequence="80"
    />
    <menuitem
        id="menu_ps_contracting_wizard"
        parent="planning_root"
        action="action_ps_contracting_wizard"
        sequence="100"
    />
    <menuitem
        id="menu_ps_contracted_line"
        parent="planning_root"
        action="action_ps_contracted_line"
        sequence="105"
    />
    <menuitem
        id="menu_ps_planning_wizard"
        parent="planning_root"
        action="action_ps_planning_wizard"
        sequence="110"
    />
    <menuitem
        id="menu_ps_planning_line"
        parent="planning_root"
        action="action_ps_planning_line"
        sequence="115"
    />
    <menuitem
        id="menu_ps_planning_report_wizard"
        parent="planning_root"
        action="action_ps_planning_report_wizard"
        sequence="120"
    />
    <menuitem
        id="menu_ps_planning_billing_report"
        parent="planning_root"
        action="action_ps_planning_billing_report"
        sequence="130"
    />
    <menuitem
        id="menu_ps_time_line_planning_report"
        parent="planning_root"
        action="action_ps_time_line_planning_report"
        sequence="140"
    />
</odoo>
